[submodule "c++/cmake-examples"]
	path = c++/cmake-examples
	url = https://github.com/appzicpvt/cmake-examples.git
[submodule "python/fastapi"]
	path = python/fastapi
	url = https://github.com/appzicpvt/fastapi.git
